<td-layout>
  <td-layout-nav-list color="warn" toolbarTitle="Austin" navigationRoute="/" opened="false" mode="side">
    <div td-sidenav-content>
      Sidenav content here
    </div>
    <div td-toolbar-content>
      <mat-icon tdLayoutNavListToggle>menu</mat-icon>
    </div>
    <div td-toolbar-content>
      <button mat-button [routerLink]="['/main']" routerLinkActive="router-link-active">
        Home
        <mat-icon>mood</mat-icon>
      </button>
    </div>
    <div td-toolbar-content>
      <button mat-button [routerLink]="['/posts']" routerLinkActive="router-link-active">
        Posts
      </button>
    </div>
    <div layout="row" layout-align="start center" td-toolbar-content>
      <td-search-box placeholder="Search" [showUnderline]="false"></td-search-box>
    </div>
    <router-outlet></router-outlet>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2018 Slalom, Austin</span>
      </div>
    </td-layout-footer>
  </td-layout-nav-list>
</td-layout>
