<div class="mat-expansion-panel" align="center">
  <h1 class="form-inline">
    Edit Post Page
  </h1>
  <mat-divider></mat-divider>
  <div class="row">
    <button mat-fab color="primary" routerLink="/posts">Back</button>
  </div>
  <mat-card class="mat-app-background">
    <mat-card-header>
      <mat-card-title>
        <h1 align="center">{{postDetail?.title}}</h1>
      </mat-card-title>
      <mat-card-subtitle>{{postDetail?.id}}</mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <mat-card-content>
      <div class="cdk-text-field-autofill-monitored">
        <form (ngSubmit)="updatePost()" #edit="ngForm" *ngIf="postDetail">
          <div class="form-group edit-container" >
            <mat-form-field>
              <input matInput class="form-control" placeholder="Title" [(ngModel)]="postDetail.title" name="title"  required>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput class="form-control" placeholder="content" [(ngModel)]="postDetail.content" name="content" required></textarea>
            </mat-form-field>
           </div>
          <button mat-button="check" type="submit" color="primary">Submit</button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
