<div>
        <div>
          <app-new-post></app-new-post>
        </div>

    <!--Post List using mat card-->
    <mat-card *ngFor="let post of posts" class="cdk-global-scrollblock">
      <mat-card-header>
        <mat-card-title>
          <h1 class="mat-heading">{{post.title}}</h1>
        </mat-card-title>
        <mat-card-subtitle>{{post.id}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img matCardImage src="Card wide image source"> -->
      <mat-card-content>
        {{post.content}}
      </mat-card-content>
      <mat-card-actions align="start">
        <a mat-raised-button color="primary" [routerLink]="['/', 'edit-post', post.id]">
          Edit
        </a>
        <a mat-raised-button color="primary" [routerLink]="['/', 'view-post', post.id]">
          View</a>
        <button (click)="deletePost(post.id)" mat-raised-button color="warn">Delete</button>
      </mat-card-actions>
      <!--<mat-card-footer>-->
      <!--Footer-->
    <!--</mat-card-footer>-->
    </mat-card>

    <mat-card>
      <button mat-button>All</button>
      <button mat-raised-button>Previous</button>
      <button mat-raised-button color="primary">Next</button>
    </mat-card>
    <span class="done">
    <button mat-fab (click)="getPosts()">
      <mat-icon>check circle</mat-icon>
    </button>
    </span>
  </div>


<
