<h1 mat-dialog-title>Add a new Post {{data.id}}</h1>
<mat-dialog-content>
  <form [formGroup]="newPost" (ngSubmit)="addPost()" novalidate>
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <div class="form-group">
      <label>Enter the Title?</label>
      <mat-form-field>
        <input type="text" class="form-control" formControlName="title" required autofocus/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label>Enter the Content?</label>
      <mat-form-field>
        <input type="textarea" class="form-control" formControlName="content" required/>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="addPost()" type="submit" class="btn btn-primary" [mat-dialog-close]="data.title">Submit
  </button>
</mat-dialog-actions>
